<% content_for :head do %>
<% end %>

<% provide(:page_title, "About") %>

<div class="small-banner-image-container yale-image">
  <div class="small-banner-text">A living document of student protest at Yale</div>
</div>

<div class="container padding-bottom">
  <div class="padding-sides">

    <h1>About</h1>

    <div class="preface-text">The Yale Community Voices Archive (YCVA) gathers material associated with student activism at Yale, specifically the protests regarding racial justice. In the fall of 2015, allegations of racial discrimination and insensitivity surfaced, prompting widespread campus protests.  Senior administrators reaffirmed the university’s commitment to increase, respect and support diversity, but the decisions on the residential college names and “Master” title announced at the end of April 2016 spurred further dissent among members of the Yale Community.</div>

    <div class="preface-text">The archive aims to capture a broad range of digital materials related to student activism and discussions of race, ethnicity, and social justice at Yale.  These discussions have raised issues of diversity and inclusion and made the intersectional challenges faced by students of color audible and visible to the broader Yale community. The material produced by and related to these protests is contributed by these communities to a content management system that allows secure and private storage of born digital content while allowing professionally managed access to that content. The project responds both to the students’ use of social media for chronicling and debating these events as well as the Yale University Archives seeking a user-friendly means of collecting and preserving digital content.  The platform aims to preserve the strength and resilience of these voices in order to better understand the roles of diversity and inclusion in how we teach and learn.</div>

    <div class="preface-text">The platform allows institutional archives to collect, use, and disclose student information solely in ways that are compatible with the context in which students provide such information. Future use of the archive will be restricted to educational and research purposes and will be governed by the collection development policies of Manuscripts and Archives for Student Body and Life  at the Yale University Library.</div>

    <h1 class="people-table-label">People</h1>

    <div class="people-table">
      <row>
        <div class="col-xs-4 role">Project Coordinators</div>
        <div class="col-xs-8">Carol Chiodo and Michael Lotstein</div>
      </row>
      <row>
        <div class="col-xs-4 role">Web Designer</div>
        <div class="col-xs-8">Monica Ong Reed</div>
      </row>
      <row>
        <div class="col-xs-4 role">Web Developer</div>
        <div class="col-xs-8">Doug Duhaime</div>
      </row>
    </div>
  </div>
</div>