<% content_for :head do %>
<% end %>

<% provide(:page_title, "About") %>

<div class="small-banner-image-container yale-image">
  <div class="small-banner-text">A living document of student protest at Yale</div>
</div>

<div class="container padding-bottom">
  <div class="padding-sides">

    <h1>About</h1>

    <div class="preface-text">The goals of the Yale Voices Community Archive (YCVA) are to gather, preserve and make available for teaching and research a broad range of digital materials related to campus life. Yale students, faculty, and staff may contribute digital content including photographs, videos or text.</div>

    <div class="preface-text">The project responds to the use of social media by individuals and organizations to chronicle and debate significant issues. In addition, contributions will complement and enhance other holdings in the University Archives that document the university’s history and culture.</div>

    <div class="preface-text">YCVA is currently in the first phase of a multi-year development schedule. The first phase is to collect contributions.</div>

    <div class="preface-text">Contributors may choose to make their content available or to close it for a period of 25 years from the date of submission, after which it will be made available to the global community. Contributors will retain copyright to the contributions they create themselves. Should Yale community members wish to publish from a contributor’s work, beyond what is provided under fair use, they will need to contact the individual contributor for permission.</div>

    <div class="preface-text">Content provided by contributors will be preserved in perpetuity as part of phase two and made available in phase three to the Yale community and beyond for teaching and research purposes.</div>

    <div class="preface-text">To discuss donating other collections of personal papers, ephemera, or organizational records to Manuscripts and Archives, please contact: archives@yale.edu</div>
  </div>
</div>