<% content_for :head do %>
  <%= stylesheet_link_tag 'static_pages' %>
<% end %>

<div class="container">
  <h1>StaticPages#contact</h1>
  <p>Find me in app/views/static_pages/contact.html.erb</p>
</div>
