<% content_for :head do %>
  <%= stylesheet_link_tag 'static_pages' %>
<% end %>

<div class="small-banner-image-container students-image">
  <%= image_tag("students.jpg") %> 
</div>

<div class="container">
  <div class="form-container">
    <h4 class="center-text">Contact Us</h4>

    <div class="preface-text">Lorem ipsum dolor sit amet, odio eget vivamus non enim, wisi et elementum eget porta conubia et, congue sed augue eros dui justo eget, leo vivamus, ut mauris eget et semper. In placerat rhoncus sem, vivamus tincidunt fermentum pretium gravida sapien maecenas, placerat enim, lorem morbi nibh facilisis nunc. Vehicula et dui lobortis et, dignissim qui vivamus posuere blandit magnis libero. Augue accumsan. Nibh nibh turpis, ultrices imperdiet dui sodales morbi.</div>

    <div class="preface-text">Hendrerit ultricies consequat libero id quis. Quis ut. Urna orci turpis ut. Sed aliquam sed sit consequat vulputate mauris. Erat conubia tellus, libero metus ante et urna senectus, in porta nunc egestas amet id, rutrum eu. Pretium aenean interdum magna, lorem cupidatat. Aliquam nulla, eu tincidunt urna nunc wisi, erat eu risus mattis, ut donec metus. Praesent et, sed donec at, ipsum vitae sodales ligula cursus augue.</div>

    <div class="preface-text">Ac nibh orci, mi dignissim, quaerat proin sociosqu, habitasse odio. A lacus phasellus ac sit, vestibulum nec commodo dui amet vitae accumsan, quis bibendum maecenas ultrices sit. Augue integer lorem consectetuer mauris, nulla netus lobortis aliquam arcu convallis. Tempor id mauris, vestibulum metus convallis porta suscipit pretium varius, eget vel, nibh non in erat aliquam sapien suscipit. Placerat volutpat.</div>

    <div class="preface-text">Rhoncus feugiat nec placerat molestie vulputate, nullam faucibus sed, risus ut, mauris enim gravida sed sit eget libero. Pellentesque justo ut quam, interdum turpis adipiscing sit. Amet mauris fermentum nec, mi ut curabitur ante varius, justo eget iaculis ut, interdum lacus, interdum nisl nunc pede ante arcu. Tristique at est. Eleifend pede, eget mi, a dolor urna, erat ridiculus quam lectus amet convallis diam, aenean tellus tristique quam mi. Ante donec, ut mollis ut lobortis tincidunt, aenean sagittis sunt sociis semper et faucibus, ac elit semper malesuada pellentesque.</div>

    <div class="preface-text">Rhoncus feugiat nec placerat molestie vulputate, nullam faucibus sed, risus ut, mauris enim gravida sed sit eget libero. Pellentesque justo ut quam, interdum turpis adipiscing sit. Amet mauris fermentum nec, mi ut curabitur ante varius, justo eget iaculis ut, interdum lacus, interdum nisl nunc pede ante arcu. Tristique at est. Eleifend pede, eget mi, a dolor urna, erat ridiculus quam lectus amet convallis diam, aenean tellus tristique quam mi. Ante donec, ut mollis ut lobortis tincidunt, aenean sagittis sunt sociis semper et faucibus, ac elit semper malesuada pellentesque.</div>

  </div>
</div>