<% content_for :head do %>
<% end %> 

<% provide(:page_title, "Home") %>

<!-- image with text and search overlays -->
<div id="banner-image">
  <div id="text-overlay">

    <%= @divs_for_word_overlay.html_safe %>

  </div> <!-- /#text-overlay -->
</div> <!-- /#banner-image -->

<!-- page content -->
<div class="container padding-bottom">
  <div class="padding-sides">
    <h1>The Yale Community Voices Archive</h1>
    <div class="body-text">
      The goals of the Yale Voices Community Archive (YCVA) are to gather, preserve and make available for teaching and research a broad range of digital materials related to campus life. Yale students, faculty, and staff may contribute digital content including photographs, videos or text.
      <br>
      <br>
      The project responds to the use of social media by individuals and organizations to chronicle and debate significant issues. In addition, contributions will complement and enhance other holdings in the University Archives that document the university’s history and culture.
    </div>
    <br>
    
    <%= link_to "CONTRIBUTE", 
     {:controller => :records, :action => :new},
     :class => "btn btn-primary wide-button blue-button" %>
   </div>
</div> <!-- /.page-content -->
