<% content_for :head do %>
<% end %> 

<% provide(:page_title, "Home") %>

<!-- image with text and search overlays -->
<div id="banner-image">
  <div id="text-overlay">

    <%= @divs_for_word_overlay.html_safe %>

  </div> <!-- /#text-overlay -->
</div> <!-- /#banner-image -->

<!-- page content -->
<div class="container padding-bottom">
  <div class="padding-sides">
    <h1>The Yale Community Voices Archive</h1>
    <div class="body-text">
      The Yale Community Voices Archive (YCVA) captures digital materials related to issues of diversity and inclusion on campus. The protests made the challenges faced by students of color audible and visible to the broader Yale community. The material produced by and related to these protests are contributed by the stakeholders themselves through a participatory platform. The project responds to the students' use of social media for chronicling these events and to requests from scholars and archivists seeking a user-friendly means of collecting and preserving digital content.
      <br>
      <br>

      Future curation will be community-based and, given the sweeping nature of the digital archive, will be encouraged as part of a broader curricular program to listen, understand, and reimagine Yale.
    </div>
    <br>
    
    <%= link_to "CONTRIBUTE", 
     {:controller => :records, :action => :new},
     :class => "btn btn-primary wide-button blue-button" %>
   </div>
</div> <!-- /.page-content -->
