/* data visualization */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #eee;
}

.logo-and-greeting {
  padding-top: 50px;
  margin-left: 50px;
  overflow: hidden;
}

.logo {
  position: relative;
  width: 140px;
  float: left;
}

.greeting {
  position: relative;
  float: none;
  overflow: hidden;
  word-wrap: normal;
  color: #000;
  font-family: 'Lato', sans-serif;
  padding-left: 50px;
  padding-top: 15px;
}

.greeting a {
  text-decoration: none;
  color: #000;
}

.optional-br {
  display: inline;
}

.you-are-here-container {
  position: absolute;
  margin-top: 7%;
  left: 195px;
}

.you-are-here {
  height: 50px;
}

.vector-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.vector-container img {
  width: 146%;
  margin-left: -29%;
  margin-top: 3%;
  position: fixed;
  overflow: hidden;
}

#footer {
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  background-color: rgba(102, 102, 102, .9) !important;
}

/* styles for small viewports */
@media (max-width: 767px) {
  .logo-and-greeting {
    padding-top: 20px;
    margin-left: 25px;
  }

  .logo {
    width: 70px;
  }

  .greeting {
    padding-left: 25px;
  }

  .vector-container img {
    margin-top: 22%;
  }

  .you-are-here-container {
    left: 77px;
    margin-top: 20%;
  }
}

@media (max-width: 460px) {
  .vector-container img {
    margin-top: 45%;
  }

  .optional-br {
    display: none;
  }

  .greeting {
    padding-right: 15px;
  }

  .you-are-here-container {
    margin-top: 55px;
  }
}

@media (max-width: 373px) {
  .logo-and-greeting {
    margin-left: 12px;
    padding-top: 15px;
  }

  .logo {
    width: 50px;
  }

  .greeting {
    padding-left: 14px;
    padding-right: 5px;
  }

  .you-are-here-container {
    margin-top: 45px;
    left: 10%;
  }

  .you-are-here {
    height: 40px;
  }

  .vector-container img {
    margin-top: 25%;
  }
}

/******** import from static_pages.css *********/

/*********
* footer *
*********/

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -140px;
}

.push {
  height: 140px;
}

#footer {
  width: 100%;
  height: 140px;
  background-color: #666;
  clear: both;
}

#footer-left {
  float: left;
  width: 300px;
  margin-top: 40px;
  margin-left: 50px;
}

#footer-right {
  float: right;
  width: 55px;
  margin-top: 40px;
  margin-right: 50px;
}

/*************************************
*           Mobile styles            *
**************************************/

@media (max-width: 767px) {

  /*****************
  * fonts and text *
  *****************/

  * {
    font-size: 1em;
  }

  /****************
  * footer styles *
  ****************/
  
  #wrap {
    margin: 0 auto -93px;
  }

  #footer, .push {
    height: 93px;
  }

  #footer-right {
    display: none;
  }

  #footer-left {
    padding: 0px; /* remove extant padding */
    position: relative;
    margin-top: 27px;
    width: 250px;
    margin-left: -125px;
    left: 50%;
  }

}

/*************************************
*           Desktop styles           *
*************************************/

@media (min-width: 768px) {
  
  /*********
  * footer *
  *********/

  #footer-left-bottom {
    margin-left: 41px;
  }

}