<div class="container">
  <div class="padding-sides padding-bottom"> 
    <div class="over-image-row">
      <h3 class="record-title"><%= @record.title %></h3>  
      <div class="edit-delete-button-container">
        <div class="btn-group modify-record-button">
          <%= link_to "Save", record_path(@record), 
            :class => "btn btn-primary blue-button", :id => "edit-record-button" %>
        </div>
      </div>
    </div>

    <%= render 'attachment_gallery' %>

    <!-- Only show pagination controls if num_pages > 1 -->
    <%= render 'annotate_pagination_controls' %>

    <!-- provide special spacing when annotating records with < 4 attachments -->
    <hr class="clear-floats" data-ng-show="data.attachments.length > 4">
    <hr class="clear-floats single-page-annotation" && data-ng-show="data.attachments.length <= 4">
