<hr class="pagination-hr">

<%= render 'attachment_modal' %>

<div class="masonry-container">
  <div data-ng-class="{ 'one-column-masonry' : attachmentsPerPage == 1, 
                        'two-column-masonry' : attachmentsPerPage == 4,
                        'five-column-masonry' : attachmentsPerPage == 20}">
    <div data-ng-class="{ 'single-masonry-item' : !multipleRecordView && attachment.media_type != 'video',
                          'single-masonry-video' : !multipleRecordView && attachment.media_type == 'video',
                          'masonry-item' : multipleRecordView }"
         data-ng-hide="hiddenAttachments.indexOf(attachment.id) > -1"
         data-ng-repeat="attachment in attachmentsOnCurrentPage" 
         data-ng-cloak>

      <a data-ng-if="currentPageClass == 'show'"
       data-ng-href="{{attachment.file_upload_url}}"
       target="_">
        <%= render 'attachment_gallery_child' %>
      </a>

      <div data-ng-if="currentPageClass != 'show'">
        <%= render 'attachment_gallery_child' %>
      </div>
    </div>
  </div>
</div>
