<!-- Modal; can be rendered with $('#file-too-large-modal').modal() -->
<div class="modal fade" id="file-too-large-modal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div>Sorry, one or more of the files you uploaded were larger than the maximum file size and could not be uploaded.</div>
      </div>
    </div>
  </div>
</div>

