<!-- Modal; can be rendered with $('#file-too-large-modal').modal() -->
<div class="modal fade" id="file-too-large-modal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        
        <%= image_tag("i_cant_even.gif", :class => "i_cant_even") %>

      </div>
    </div>
  </div>
</div>