<div class="padding-sides padding-bottom"> 
  <div class="over-image-row">
    <h3 class="record-title" >{{ data.record.title }}</h3>  
    <div class="edit-delete-button-container">
      <div class="btn-group modify-record-button margin-right">
        <%= link_to "Edit", edit_record_path(@record), 
          :class => "btn btn-primary blue-button", :id => "edit-record-button" %>
      </div>
    </div>
  </div>

  <%= render 'attachment_gallery' %>

  <!-- Only show pagination controls if num_pages > 1 -->
  <%= render 'pagination_controls' %>

  <hr class="clear-floats">
