<div class="padding-sides"> 
  <div class="over-image-row">
    <h3 class="record-title"><%= @record.title %></h3> 
    <div class="edit-delete-button-container">
      <button type="button" class="btn gray-button" id="delete-record-button" data-dismiss="modal">DELETE</button>
    </div>
  </div>
</div>

<%= render 'delete_record_modal' %>
