
    <div class="metadata-spacer"></div>
    <div class="record-display-left">
      <div ng-show="data.record.description"class="record-display-label">Description</div>
      <div ng-show="data.record.description" class="record-display-text">{{ data.record.description }}</div>
    </div>

    <div class="record-display-right">
      <div ng-show="data.record.date" class="record-display-label">Date</div>
      <div ng-show="data.record.date" class="record-display-text">{{ data.record.date }}</div>

      <div ng-show="data.record.location" class="record-display-label">Location</div>
      <div ng-show="data.record.location" class="record-display-text">{{ data.record.location }}</div>

      <div ng-show="data.record.source_url" class="record-display-label">Source URL</div>
      <div ng-show="data.record.source_url" class="record-display-text">
        <a ng-href="{{data.record.source_url}}">
          {{ data.record.source_url }}
        </a>
      </div>

      <div ng-show="data.record.hashtag" class="record-display-label">Hashtags</div>
      <div ng-show="data.record.hashtag" class="record-display-text">{{ data.record.hashtag }}</div>

    </div>
  </div>
</div>