    <hr class="clear-floats">
    <div class="metadata-spacer"></div>
    <div class="record-display-left">
      <div class="record-display-label">Description</div>
      <div class="record-display-text">{{ data.record.description }}</div>
    </div>

    <div class="record-display-right">
      <div ng-if="data.record.date" class="record-display-label">Date</div>
      <div ng-if="data.record.date" class="record-display-text">{{ data.record.date }}</div>

      <div ng-if="data.record.location" class="record-display-label">Location</div>
      <div ng-if="data.record.location" class="record-display-text">{{ data.record.location }}</div>

      <div ng-if="data.record.source_url" class="record-display-label">Source URL</div>
      <div ng-if="data.record.source_url" class="record-display-text">
        <a ng-href="data.record.source_url">
          {{ data.record.source_url }}
        </a>
      </div>

      <div ng-if="data.record.metadata" class="record-display-label">Metadata</div>
      <div ng-if="data.record.metadata" class="record-display-text">{{ data.record.metadata }}</div>

      <div ng-if="data.record.hashtag" class="record-display-label">Hashtags</div>
      <div ng-if="data.record.hashtag" class="record-display-text">{{ data.record.hashtags }}</div>


    </div>
  </div>
</div>

