<hr class="pagination-hr">

<div class="record-display-container" 
     data-ng-repeat="attachment in data.attachments"
     data-ng-class="{placeholderImageContainer: attachment.placeholder_image_path !== null}">
  <a data-ng-if="currentPageClass == 'show'"
     data-ng-href="{{attachment.file_upload_url}}">
     <%= render 'asset_view' %>
  </a>

  <div data-ng-if="currentPageClass != 'show'">
    <%= render 'asset_view' %>
  </div>
</div>

<hr>
