<div class="container" ng-app="GalleryApp" ng-controller="GalleryController">
  <div class="padding-sides padding-bottom"> 
    <div class="over-image-row">
      <h3 class="record-title">{{ data.record.title }}</h3>  
      <div class="edit-delete-button-container">
        <div class="btn-group modify-record-button margin-right">
          <%= link_to "Edit", edit_record_path(@record), 
            :class => "btn btn-primary blue-button", :id => "edit-record-button" %>
        </div>
      </div>
    </div>

    <hr>

    <div class="record-display-container" ng-repeat="attachment in data.attachments">
      <img ng-if="attachment.media_type === 'image'" 
           ng-src="{{ attachment.medium_image_url }}" 
           alt="{{ data.record.title }}" >

      <video ng-if="attachment.media_type === 'video'" controls
             ng-attr-poster="{{ attachment.medium_image_url }}"
             class="loaded-media loaded-video"> 
        <source ng-if="attachment.media_type === 'video'"
                ng-src="{{ attachment.file_upload_url | trusted }}">
        Sorry! Your browser does not recognize video tags.
      </video>

      <audio ng-if="attachment.media_type === 'audio'" controls
             ng-attr-poster="{{ attachment.medium_image_url }}"
             class="loaded-media loaded-audio">
        <source ng-if="attachment.media_type === 'audio'"
                ng-src="{{ attachment.file_upload_url | trusted }}">
        Sorry! Your browser does not recognize audio tags.
      </audio>
    </div>
