<div class="padding-sides"> 
  <div class="over-image-row">
    <h3 class="record-title"><%= @record.title %></h3> 
    <div class="edit-delete-button-container">
      <button type="button" class="btn gray-button" id="delete-record-button" data-dismiss="modal">DELETE</button>
    </div>
  </div>

  <%= render 'delete_record_modal' %>

  <hr class="pagination-hr">

  <div class="record-display-container" data-ng-repeat="attachment in data.attachments">
    <%= render 'asset_view' %>
  </div>

  <hr>
  
</div>