<% content_for :head do %>
  <%= stylesheet_link_tag 'records' %>
<% end %>

<% provide(:page_title, "Show Record") %>

<div class="small-banner-image-container students-image">
  <div class="small-banner-text">A living document of student protest at Yale</div>
</div>

<div data-ng-app="VoicesApp" data-ng-controller="GalleryController">
  <%= render 'annotate_records' %>

  <div class="container">
    <div class="padding-sides">
      <!-- Render the record-level metadata -->
      <%= render 'record_metadata' %>
    </div>
  </div>
</div>