<% content_for :head do %>
  <%= stylesheet_link_tag 'static_pages' %>
  <%= stylesheet_link_tag 'records' %>
  <%= javascript_include_tag 'records' %>
<% end %>

<div class="container">
  <div class="form-container">
    <h1 class="center-text">Editing record</h1>
    <%= render 'form' %>
  </div>
</div>
