<% content_for :head do %>
  <%= stylesheet_link_tag 'static_pages' %>
  <%= stylesheet_link_tag 'records' %>
<% end %>

<div class="form-container">
  <h4 class="center">Contribute</h4>

  <div class="preface-text">Our stories are personal, but they are not unique. Join us as we begin to document and create a space for our voices in tomorrow's Yale. This is the Yale we choose. Our voices. Our stories. Our Yale.</div>

  <%= render 'form' %>
  
</div>
