<% content_for :head do %>
  <%= stylesheet_link_tag 'records' %>
  <%= stylesheet_link_tag 'mobile_gray_wrap' %>
  <%= stylesheet_link_tag 'bootstrap-datetimepicker' %>
<% end %>

<% provide(:page_title, "New Record") %>

<div class="small-banner-image-container students-image">
  <div class="small-banner-text">A living document of student protest at Yale</div>
</div>

<div class="container">
  <div class="padding-sides">
    <h1>Contribute</h1>
    <div class="preface-text">The information you provide about your contributions is critical to their usefulness to future scholars and researchers. When filling in the fields below, please note that submissions may contain multiple files but should document a single event or subject (ex. “Protest over re-naming Calhoun College”).</div>
  </div>
</div>

<div class="mobile-background-gray">
  <div class="container">
    <div class="padding-sides padding-bottom">

      <div data-ng-app="VoicesApp" data-ng-controller="FormController">
        <%= render 'record_form' %>
      </div>

      <div class="clear-floats"></div>
      <div class="postscript-text">To discuss donating other collections of personal papers, ephemera, or organizational records to Manuscripts and Archives, please contact: archives@yale.edu</b></div>
    </div>
  </div>
</div>