<% content_for :head do %>
  <%= stylesheet_link_tag 'records' %>
<% end %>

<% provide(:page_title, "Show Record") %>

<div class="small-banner-image-container students-image">
  <div class="small-banner-text">A living document of student protest at Yale</div>
</div>

<% if @number_of_attachments == 1 %>
  <%= render 'single_record_attachment_view' %>
<% elsif @number_of_attachments > 1 %>
  <%= render 'multiple_record_attachment_view' %>
<% end %>