<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,<br><br>
      We received the following message from a user of the Voices application:<br><br>
      <%= @contact_form.message %>
    </p>
  </body>
</html>

