<section class="search-form">
  <div class="white-background">
    <div class="container">
      <!-- Angular search box -->
      <form>
        <div class="input-group input-group-lg search-box-container">
          <label for="search.keywords" class="sr-only">Keywords</label>
            
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        
          <input 
            id="search-box"
            type="text"
            name="keywords"
            class="form-control input-lg"
            placeholder="Search"
            ng-change="search(keywords)"
            ng-model="keywords">

        </div>
      </form>
    </div>
  </div>

  <div class="gray-background">
    <div class="container">
      <ul class="nav nav-tabs" id="userShowTabs">
        
        <li role="presentation" 
            data-ng-class="viewAll == 1 && 'active'"
            data-ng-click="toggleViewAll(1)"><a href="#allRecords">View All</a></li>

        <li role="presentation" 
            data-ng-class="viewAll == 0 && 'active'"
            data-ng-click="toggleViewAll(0)"><a href="#myRecords">My Records</a></li>

        <li id="sortOrderSelect">
          <select 
            data-ng-options="sortOption as sortOption.label for sortOption in sortOptions" 
            data-ng-model="sortOption"
            data-ng-change="setSortMethod()"
            data-ng-init="sortOption=sortOptions[0]" >
          </select>
        </li>

        <li id="sortOrderLabel">Sort by:</li>

      </ul>

      <!-- If user doesn't have records, prompt them to contribute -->
      <div ng-if="records.length === 0 && userRanSearch === 0">
        <%= render 'user_has_no_records' %>
      </div>
        
      <!-- If user ran a search and there are no records, indicate as much -->
      <div ng-if="records.length === 0 && userRanSearch === 1">
        <%= render 'search_returned_no_results' %>
      </div>

      <!-- Otherwise, show all records -->
      <div ng-if="records.length != 0">
        <div class="masonry-container">
          <div class="masonry">
            <div ng-repeat="record in records" class="records-container">
              <div class="masonry-item">
                <div class="section">
                  <a ng-href="/records/{{record.record.id}}">
                    <img data-ng-src="{{ record.attachments[0].medium_image_url }}" 
                         alt="{{ record.record.title }}">

                    <div class="masonry-item-title">{{record.record.title}}</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>