<section class="search-form">
  <%= form_for :records, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, nil,
        placeholder: "Title, Keywords, or Description",
        class: "form-control input-lg" %>
      <span class="input-group-btn">
      <%= submit_tag "Find Records",
        class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</section>
