<% if @user_records.length != 0 %>
  <div class="container">
    <%= render 'rails_search_form' %>
  </div>
<% end %>

<div class="gray-background">
  <div class="container">
    
    <% if @user_records.length == 0 %>
      <div class="invite-submissions-container">
        <div class="center-text">Materials you contribute to the Voices archive will be available here.</div>
        <br>
          <%= link_to "CONTRIBUTE", 
             {:controller => :records, :action => :new},
             :class => "btn btn-primary wide-button blue-button" %>
      </div>
    <% else %>

      <div class="masonry-container" data-ng-cloak>
        <div class="masonry">
          <div class="masonry-item" data-ng-repeat="record in userRecords">
            <a href="/records/{{record.record.id}}">
              <img data-ng-if="record.attachments[0].media_type === 'image'"
                   data-ng-src="{{ record.attachments[0].medium_image_url }}" 
                   alt="{{ record.record.title }}">

              <img data-ng-if="record.attachments[0].media_type != 'image'"
                   data-ng-src="{{ record.attachments[0].annotation_thumb_url }}" 
                   alt="{{ record.record.title }}">

              
              <div class="masonry-item-title">{{record.record.title}}</div>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>