<div class="invite-submissions-container">
  <div class="center-text">Materials you contribute to the Voices archive will be available here.</div>
  <br>
  <%= link_to "CONTRIBUTE", 
     {:controller => :records, :action => :new},
     :class => "btn btn-primary wide-button blue-button" %>
</div>