<% content_for :head do %>
  <%= stylesheet_link_tag 'static_pages' %>
  <%= stylesheet_link_tag 'user' %>
<% end %>

<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>
 
<% @user_uploads.each do |user_upload| %>
  <%= image_tag user_upload.file_upload.url(:medium) %>
<% end %>
