<% content_for :head do %>
  <%= stylesheet_link_tag 'contact_forms' %>
<% end %>

<% provide(:page_title, "Contact") %>

<div class="small-banner-image-container yale-image">
  <div class="small-banner-text"></div>
</div>

<div class="container">
  <div class="padding-sides">
    <h1>Contact Us</h1>
    <div class="preface-text">If you have questions about the archive, or need to report any technical issues, please contact archives@yale.edu.</div>
  </div>
</div>
