<% content_for :head do %>
  <%= stylesheet_link_tag 'contact_forms' %>
<% end %>

<% provide(:page_title, "Contact") %>

<div class="small-banner-image-container yale-image">
  <div class="small-banner-text">A living document of student protest at Yale</div>
</div>

<div class="container">
  <div class="padding-sides">
    <h1>Contact Us</h1>

    <div class="preface-text">Do you have questions about the archive? Do you have other materials that you feel should be included? Help us listen, understand and re-imagine Yale.</div>

    <%= render 'form' %>

  </div>
</div>
