// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*************
* record#new *
*************/

.field {
  padding-top: 20px;
}

field {
  width: 100%;
}

field * {
  display: inline-block;
}

label {
  font-weight: 400;
  width: 180px;
}

input, select, textarea {
  float: left;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

input[type="radio"], input[type="checkbox"] {
  height: 14px;
  width: 14px;
}

input {
  padding: 8px 6px 7px 10px;
}

textarea#record-description {
  height: 150px;
  padding: 6px;
}

/* include-name slider styles */
.long-label {
  float: left;
}

/* postscript present in desktop */
.postscript-text {
  padding-top: 30px;
}

/* FF form styles */
:-moz-ui-invalid:not(output) {
  box-shadow: none;
}

/************************
* boolean slider styles *
************************/

#switch-container {
  margin-top: 2px;
}

.onoffswitch {
  float: left;
}

/* switch track set as false */
.switch {
  height: 11px;
  width: 32px;
  background: rgb(51, 153, 204);
  border-color: rgb(51, 153, 204);
}

/* switch track set as true */
.switch.checked {
  background: rgb(51, 153, 204);
  border-color: rgb(51, 153, 204);
}

.switch.checked small {
  left: 16px;
}

.switch small {
  height: 18px;
  width: 18px;
  margin-top: -4px;
  left: -2px;
  border: 1px solid darkgray;
}

#boolean-slider-text {
  float: left;
  margin-left: 6px;
  font-weight: 700;
  color: #878787;
  margin-top: -1px;
}

sup {
  color: #ff3333;
}

.form-group {
  margin-bottom: 0px;
}

/************************
* input box text styles *
*************************/

::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 100;
}

:-moz-placeholder {
  font-style: italic;
  font-weight: 100;  
}

::-moz-placeholder {
  font-style: italic;
  font-weight: 100;  
}

:-ms-input-placeholder {  
  font-style: italic;
  font-weight: 100; 
}

/*********************
* file upload styles *
*********************/

span.btn.btn-small.btn-default.btn-inverse {
  padding: 6px 14px 4px 14px;
  float: left;
  color: #333;
  margin-top: -4px;
  font-family: "acumin-pro", "helvetica", "sans-serif";
}

#file-upload-button .btn {
  border-radius: 4px;
  margin-left: 4px;
}

#file-upload-button .form-control {
  box-shadow: none;
}

#placeholder-box {
  overflow: hidden;
  float: left;
  height: 30px;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  padding: 5px 7px;
  border: 1px solid lightgray;
  font-style: italic;
  border-radius: 4px;
}

/* set height of container */
#file-upload-container {
  padding-bottom: 4px;
}

.max-file-size {
  padding-left: 12px;
  display: inline-block;
  font-style: italic;
  font-size: .9em;
}

/**********************
* progress bar styles *
**********************/

#progress-bar-table-container {
  margin-left: 180px;
  margin-top: 20px;
  margin-right: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#progress-bar-table-container .panel, 
#progress-bar-table-container .panel-default {
  border: none;
}

#progress-bar-table {
  width: 100%;
  margin-bottom: 0px;
}

/* styling for odd and even rows in table */
#progress-bar-table tr:nth-of-type(even) {
  background-color: #EDFAFE;
}

#progress-bar-table tr:nth-of-type(odd) {
  background-color: #fff;
}

.progress-bar-table-wrapper {
  max-height: 297px;
  overflow: hidden;
}

.progress-bar-table-inner {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
  margin-right: -35px;
  max-height: 297px;
}

.progress-bar-table-wrapper .panel.panel-default {
  margin-bottom: 0;
}

#progress-bar-table .file-name-container {
  max-width: 40%;
  width: 40%;
  height: 36px !important;
  max-height: 36px !important;
}

#progress-bar-table .progress-bar-container {
  height: 28px;
  padding-bottom: 0px;
}

.progress {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  height: 20px;
  overflow: hidden;
  line-height: 15px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  background-color: #f5f5f5;
}

.progress div {
  font-size: smaller;
  background: #4BB0D3;
  height: 100%;
}

/* styles for the progress bar images */
.progress-image-container {
  width: 20px;
}

.progress-image {
  height: 20px;
  width: 14px;
}

.cancel-upload {
  cursor: pointer;
}


/* styles for filename rows */
.file-name {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  word-break: break-all;
  padding-top: 3px;
}

/* cancel all button */
#cancel-all-uploads {
  float: right;
  margin-top: 20px;
  margin-right: 6px;
}

/***********************
* file too large modal *
***********************/

.i_cant_even {
  max-width: 100%;
}

/****************
* submit button *
****************/

.submit-button {
  margin-top: 30px;
  width: 120px;
  position: relative;
  margin-left: -60px;
  left: 50%;
}

/* submit button in disabled state */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: .5;
}


/**************
* record#show *
**************/

.margin-right {
  margin-right: 10px;
}

.invite-submissions-container {
  height: 80px;
  margin-top: 80px;
}

.record-details-top {
  margin: 40px 20% 40px;
}

.record-details {
  margin: 40px 20% 140px 20%;
  overflow: auto;
  padding-bottom: 80px;
}

.metadata-spacer {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}

.record-title {
  display: inline-block;
  margin-top: 37px;
  font-family: 'YaleNew', serif;
}

.edit-delete-button-container {
  display: inline-block;
  float: right;
  margin-top: 30px;
}

.record-display-container {
  width: 100%;
  padding: 30px 0px;
}

video {
  object-fit: fill;
}

.loaded-video {
  position: relative;
  width: 80%;
  left: 10%;
  margin-top: 3.3%;
}

.single-masonry-item .loaded-video {
  padding-top: 4%;
  padding-bottom: 4%;
}

.loaded-audio {
  position: relative;
  width: 300px;
  margin-left: -150px;
  left: 50%;
}

.record-display-container img {
  margin-bottom: 20px;
  display: block;
  margin: auto;
  max-width: 70%;
  width: 70%;
}

.record-display-left {
  float: left;
  width: 60%;
  padding-right: 40px;
}

.record-display-right {
  float: right;
  width: 40%;
}

.record-display-label {
  font-weight: 700;
  margin-bottom: 5px;
}

.record-display-text {
  margin-bottom: 20px;
}

/* placeholder image styles on record#show */
.record-display-container .placeholderImage {
  max-width: 400px;
  padding: 30px 120px;
  background: #f8f8f8;
  border: 1px solid lightgray;
}


/**********************************
* multiple attachments per record *
**********************************/

.masonry-container {
  padding-top: 20px;
  background-color: inherit;
}

.one-column-masonry {
 -webkit-column-count: 1;
    -moz-column-count: 1;
         column-count: 1;
       
    -webkit-column-gap: 1em; 
       -moz-column-gap: 1em;
}

.two-column-masonry {
 -webkit-column-count: 2;
    -moz-column-count: 2;
         column-count: 2;
     
  -webkit-column-width: 13em;
     -moz-column-width: 13em;
       
    -webkit-column-gap: 1em; 
       -moz-column-gap: 1em;
}

.five-column-masonry {
  columns: 5;
  
 -webkit-column-count: 5;
    -moz-column-count: 5;
         column-count: 5;
            
    -webkit-column-gap: 1em; 
       -moz-column-gap: 1em;
}

.pagination-controls hr {
  clear: both;
}

/*************
* pagination * 
*************/

.pagination-hr {
  margin-top: 8px;
  clear: both;
}

.view-mode-toggle-container {
  width: 60%;
  float: left;
  overflow: hidden;
}

.view-mode-toggle-outer {
  position: relative;
  left: 50%;
  float: left;
}

.view-mode-toggle-inner {
  position: relative;
  left: -50%;
  float: left;
  padding-top: 11px;
}

.multiple-record-view-container, 
.single-record-view-container {
  float: left;
}

.pagination-controls button {
  color: #5B5B5B;
  height: 30px;
  width: 38px;
  padding: 5px 3px 5px 4px;
}

.single-record-view-button,
.multiple-record-view-button {
  background-color: #E5E4E4;
  float: left;
}

.multiple-record-view-button.active,
.single-record-view-button.active {
  background-color: #C0C0C0;
  outline: none;
}

.pagination-controls button:focus {
  outline: none !important;
}

#next-page-button,
#previous-page-button {
  background-color: #fff;
  border: none;
  margin-top: -2px;
}

#next-page-button:hover,
#previous-page-button:hover,
#next-page-button.active,
#previous-page-button.active, {
  background-color: #fff;
  color: #3399CC;
  box-shadow: none;
}

.current-page-annotation, 
.current-page-number {
  font-size: .75em;
  display: inline-block;
}

.current-page-number {
  padding-right: 5px;
}

.single-page-annotation {
  margin-top: 8px !important;
}

/* if the current record has < 5 attachments, 
   don't display the circles and update padding on 
   the single / multiple page toggle */

.few-attachments {
  margin-top: -10px !important;
}


/***************************
* placeholder image styles *
***************************/

.single-masonry-item .placeholderImage {
  padding-top: 10%;
  padding-bottom: 10%;
}

.two-column-masonry .placeholderImageContainer {
  height: 0px;
  padding-bottom: 66.666%;
}

.single-masonry-item .placeholderImageContainer img {
  width: 40% !important;
  position: relative;
  left: 30%;
}

.two-column-masonry .placeholderImageContainer img {
  width: 40% !important;
  position: relative;
  left: 30%;
  padding-top: 5.5%;
}

.five-column-masonry .placeholderImageContainer {
  height: 0px;
  padding-bottom: 100%;
  border: 1px solid lightgray;
}

.five-column-masonry .placeholderImageContainer img {
  width: 60% !important;
  position: relative;
  left: 20%;
  padding-top: 7.5%;
}

/***********************************
* multiple uploads in records#show *
***********************************/

.single-masonry-item {
  display: inline-block;
  margin: 0 0 14px 0;
  width: 60%;
  background: #f8f8f8;
  border: 1px solid lightgray;
  margin-left: 20%;
}

.single-masonry-video {
  display: inline-block;
  margin: 0 0 14px 0;
  width: 60%;
  margin-left: 20%;
  padding-bottom: 15px;
}

.masonry-item {
  display: inline-block;
  margin: 0 0 14px 0;
  width:  100%; 
  background:  #f8f8f8;
  border: 1px solid lightgray;
}

.masonry-item img, .single-masonry-item img {
  width: 100%;
  height: auto;
}

.masonry-item .attachment-annotation {
  margin-right: 1px;
  height: 30px;
  background-color: #fff;
  width: 100%;
  border: none;
  border-top: 1px solid lightgray;
  border-radius: 0px;
}

.pagination-controls {
  padding-top: 10px;
  padding-bottom: 30px;
}

/* set heights so classes are present even if they have no content */
.previous-page {
  padding-top: 16px;
  width: 20%;
  min-height: 1px;
  float: left;
  color: #5F5E5E;
}

.next-page {
  padding-top: 16px;
  width: 20%;
  min-height: 1px;
  float: right;
  text-align: right;
  color: #5F5E5E;
}

.page-toggles {
  width: 60%;
  float: left;
  overflow: hidden;
  padding-bottom: 6px;
}

.bottom-row-page-circles {
  padding-top: 14px;
}

.circle-outer-container {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 4px;
}

.circle-inner-container {
  position: relative;
  left: -50%;
  float: left;
  padding-left: 8px;
  padding-top: 8px;
}

.circle {
  height: 7px;
  width: 7px;
  border-radius: 5px;
  background-color: #a7a7a7;
  border: 1px solid #929292;
  float: left;
  margin-right: 16px;
  margin-bottom: 7px;
}

.circle.active {
  background-color: #3399CC;
  border: 1px solid #4EA4D0;
}

hr.clear-floats {
  margin-top: 22px;
}

/**********************
* record delete modal *
**********************/

.modal-content {
  width: 400px;
  left: 50%;
  margin-left: -200px;
  margin-top: 50%;
}

.attention {
  font-weight: 700;
}

.confirm-text {
  margin: 10px 20px 20px;
}

.modal-button-container {
  margin-left: 60px;
}

.modal-button {
  width: 120px;
}

.placeholderImageModal {
  background: #fff;
}

/*******************
* attachment modal *
*******************/

.modal-attachment-annotation {
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/**************
* record#edit *
**************/

#edit-record-button {
  width: 82px;
}

#delete-record-button {
  width: 90px;
  background-color: #d22323;
}

#report-record-button {
  width: 90px;
}

.edit-record-title {
  padding: 30px 0 0 0;
  float: left;
}

.hidden-field {
  display: none;
}

.record-attachment-container, 
.attachment-modal-content {
  position: relative;
}

.pointerCursor:hover {
  cursor: pointer;
}

.attachment-modal-content {
  width: 40%;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 10%;
}

.attachment-modal-content img {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #fff;
  border-bottom: none;
}

.attachment-modal-content input {
  border: none;
}

.edit-attachment-icon-container,
.delete-attachment-icon-container {
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
  z-index: 2;
}

.edit-attachment-icon,
.delete-attachment-icon {
  background-color: #fff;
  width: 27px;
  height: 28px;
  padding: 4px 5px;
  border: 1px solid darkgray;
  border-style: outset;
  border-radius: 5px;
}

.delete-attachment-icon {
  padding: 6px 5px;
}

.delete-icon-container {
  position: relative;
}

.delete-icon-container button {
  float: right;
}

.save-updates-button {
  margin-top: 30px;
  width: 139px;
  position: relative;
  margin-left: -70px;
  left: 50%;
}

/****************
* mobile styles *
****************/

@media (min-width: 380px) and (max-width: 550px) {
  .long-label {
    width: 230px !important;
  }
}

@media (max-width: 458px) {
  .record-display-left {
    width: 100%;
    padding-right: 0px;
    float: none;
  }

  .record-display-right {
    width: 100%;
    float: none;
  }

  .modal-content {
    width: 296px;
    margin-left: -148px;
  }

  .modal-content br {
    display: none;
  }

  .modal-content .modal-button {
    width: initial;
  }
}

/*********************
* small media styles *
*********************/

@media (max-width: 767px) {

  /**************
  * records#new *
  **************/

  #switch-container {
    margin-top: 2px;
  }

  .mobile-background-gray {
    background-color: #eee;
  }

  label {
    float: none;
    display: block;
    margin-bottom: 3px;
  }

  .long-label {
    width: 360px;
  }

  input, #placeholder-box {
    background-color: #fff;
    width: 100%;
  }

  div#placeholder-box {
    display: none;
  }

  #file-upload-button {
    width: 100%;
  }

  #record-description {
    width: 100%;
    max-width: 100%;
  }

  .terms-and-conditions {
    margin-left: 20px;
    margin-top: 5px;
  }

  .postscript-text {
    display: none;
  }

  .boolean-slider-container {
    margin-top: 4px;
  }

  #date-selector-input {
    background-color: #fff;
  }

  /* multirecord uploads */
  .page-toggles {
    display: none;
  }

  /***************
  * records#show *
  ***************/

  .record-display-container .placeholderImage {
    padding: 5% 21%;
  }

  #next-page-button.mobile-gray,
  #previous-page-button.mobile-gray {
    background-color: #eee;
  } 

  /* make progress bars full width */
  #progress-bar-table-container {
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* don't display upper row of pagination on mobile */
  .pagination-upper-row {
    display: none;
  }

  .max-file-size {
    display: block;
    padding-left: 0px;
  }

  #cancel-all-uploads {
    margin-right: 0px;
  }

}


/*********************
* large media styles *
*********************/

@media (min-width: 768px) {
  
  /**************
  * records#new *
  **************/

  input, #placeholder-box, button, select, textarea {
    background-color: #f4f4f4;
  }

  input {
    /* fallback for browsers without calc support */
    width: 64%;
    height: 32px;
    width: calc(100% - 185px);
  }

  #datetimepicker1 {
    height: 32px;
    width: 277px;
  }

  #placeholder-box {
    width: 200px;
  }

  label {
    float: left;
  }

  .long-label {
    width: 360px;
  }

  #record-description {
    /* fallback for browsers without calc support */
    width: 64%;
    max-width: 64%;

    width: calc(100% - 185px);
    max-width: calc(100% - 185px);
  }

  .terms-and-conditions {
    float: left;
    margin-left: 200px;
    margin-top: -26px;
  }

  .boolean-slider-track {
    margin-top: 2px;
  }

  #date-selector-input {
    background-color: #f4f4f4;
  }

}