// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*************
* record#new *
*************/

.field {
  padding-top: 20px;
}

field {
  width: 100%;
}

field * {
  display: inline-block;
}

label {
  font-weight: 400;
  width: 180px;
}

input, select, textarea {
  float: left;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

input[type="radio"], input[type="checkbox"] {
  height: 14px;
  width: 14px;
}

input {
  padding: 6px;
}

textarea#record-description {
  height: 150px;
  padding: 6px;
}

/* include-name slider styles */
.long-label {
  float: left;
}

.boolean-slider-container {
  float: left;
  margin-top: 3px;
}

#boolean-slider-text {
  float: left;
  margin-left: 10px;
  font-weight: 700;
  color: #878787;
}

sup {
  color: #ff3333;
}

.form-group {
  margin-bottom: 0px;
}


/*********************
* file upload styles *
*********************/

span.btn.btn-small.btn-default.btn-inverse {
  padding: 4px 14px;
  float: left;
  color: #555;
}

#file-upload-button .btn {
  border-radius: 4px;
  margin-left: 4px;
}

#file-upload-button .form-control {
  box-shadow: none;
}

#placeholder-box {
  overflow: hidden;
  float: left;
  height: 30px;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  padding: 5px 7px;
  border: 1px solid lightgray;
  font-style: italic;
  border-radius: 4px;
}

/****************
* submit button *
****************/

.submit-button {
  margin-top: 30px;
  width: 120px;
  position: relative;
  margin-left: -60px;
  left: 50%;
  margin-bottom: 30px;
}

/************************************
* boolean slider for mobile display *
************************************/

.boolean-slider-track {
  width: 34px;
  height: 13px;
  background: #b5b5b5;
  border-radius: 10px;
}

.boolean-slider-knob {
  height: 18px;
  width: 18px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  margin-top: -3px;
  cursor: pointer;
  border: 1px solid #a0a0a0;
  -webkit-box-shadow: 0 0 0 0 white, 0 1px 1px #353535;
  -moz-box-shadow: 0 0 0 0 white, 0 1px 1px #353535;
  box-shadow: 0 0 0 0 white, 0 1px 1px #353535;
}

/**************
* record#show *
**************/

.margin-right {
  margin-right: 10px;
}

.invite-submissions-container {
  height: 80px;
  margin-top: 80px;
}

.record-details-top {
  margin: 40px 20% 40px;
}

.record-details {
  margin: 40px 20% 140px 20%;
  overflow: auto;
  padding-bottom: 80px;
}

.metadata-spacer {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}

.record-title {
  display: inline-block;
  margin-top: 37px;
  font-family: 'YaleNew', serif;
}

.edit-delete-button-container {
  width: 82px;
  margin-top: 31px;
  display: inline-block;
  float: right;
}

.modify-record-button {
  display: inline-block;
}

.record-display-container {
  width: 100%;
  background: #fff;
  padding: 30px 0px;
}

.loaded-video {
  position: relative;
  margin-left: -150px;
  left: 50%;
}

.loaded-audio {
  position: relative;
  margin-left: -150px;
  left: 50%;
}

.record-display-container img {
  margin-bottom: 20px;
  display: block;
  margin: auto;
  max-width: 90%;
}

.record-display-left {
  float: left;
  width: 60%;
  padding-right: 40px;
}

.record-display-right {
  float: right;
  width: 40%;
}

.record-display-label {
  font-weight: 700;
  margin-bottom: 5px;
}

.record-display-text {
  margin-bottom: 20px;
}

/***********************************
* multiple uploads in records#show *
***********************************/

.masonry-container {
  padding-top: 20px;
  background-color: inherit;
}

.masonry {
  column-count: 2;
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; 
}

.masonry-item {
  display: inline-block;
  margin: 0 0 14px 0;
  width:  100%; 
  background:  #efefef;
  border: 1px solid #a7a7a7;
}

.masonry-item img {
  width: 100%;
  height: auto;
}

.masonry-item .attachment-annotation {
  margin-right: 1px;
  height: 30px;
  background-color: #fff;
  border-top: 1px solid #a7a7a7;
}

.pagination-controls {
  padding-top: 10px;
  padding-bottom: 30px;
}

/* set heights so classes are present even if they have no content */
.previous-page {
  width: 20%;
  min-height: 1px;
  float: left;
}

.next-page {
  width: 20%;
  min-height: 1px;
  float: right;
  text-align: right;
}

.page-toggles {
  width: 60%;
  float: left;
  overflow: hidden;
}

.circle-outer-container {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 4px;
}

.circle-inner-container {
  position: relative;
  left: -50%;
  float: left;
  padding-left: 8px;
  padding-top: 8px;
}

.circle {
  height: 7px;
  width: 7px;
  border-radius: 5px;
  background-color: #a7a7a7;
  border: 1px solid #929292;
  float: left;
  margin-right: 16px;
  margin-bottom: 7px;
}

.circle.active {
  background-color: #3399CC;
  border: 1px solid #4EA4D0;
}

hr.clear-floats {
  margin-top: 22px;
}

/********
* modal *
********/

.modal-content {
  width: 400px;
  left: 50%;
  margin-left: -200px;
  margin-top: 50%;
}

.attention {
  font-weight: 700;
}

.confirm-text {
  margin: 10px 20px 20px;
}

.modal-button-container {
  margin-left: 60px;
}

.modal-button {
  width: 120px;
}

/**************
* record#edit *
**************/

#delete-record-button, #edit-record-button {
  width: 82px;
}

.edit-record-title {
  padding: 30px 0 0 0;
  float: left;
}

.hidden-field {
  display: none;
}

/****************
* mobile styles *
****************/

@media (min-width: 380px) and (max-width: 550px) {
  .long-label {
    width: 230px !important;
  }
}

@media (max-width: 458px) {
  .loaded-media {
    width: 200px;
    max-height: 240px;
    margin-left: -100px;
  }

  .record-display-left {
    width: 100%;
    padding-right: 0px;
    float: none;
  }

  .record-display-right {
    width: 100%;
    float: none;
  }

  .modal-content {
    width: 296px;
    margin-left: -148px;
  }

  .modal-content br {
    display: none;
  }

  .modal-content .modal-button {
    width: initial;
  }


}

/*********************
* small media styles *
*********************/

@media (max-width: 767px) {

  /**************
  * records#new *
  **************/

  .mobile-background-gray {
    background-color: #eee;
  }

  label {
    float: none;
    display: block;
    margin-bottom: 3px;
  }

  .long-label {
    width: 380px;
  }

  input, #placeholder-box {
    background-color: #fff;
    width: 100%;
  }

  select#record_content_type {
    width: 100%;
  }

  div#placeholder-box {
    display: none;
  }

  #file-upload-button {
    width: 100%;
  }

  span.btn.btn-small.btn-default.btn-inverse {
    margin-left: 0px;
  }

  #record-description {
    width: 100%;
    max-width: 100%;
  }

  .terms-and-conditions {
    margin-left: 20px;
    margin-top: 5px;
  }

  .postscript-text {
    display: none;
  }

  .boolean-slider-container {
    margin-top: 4px;
  }

  #date-selector-input {
    background-color: #fff;
  }

  /* multirecord uploads */

  .page-toggles {
    display: none;
  }

  .previous-page, .next-page {
    width: 50%;
  }

  .pagination-controls {
    padding-bottom: 50px;
  }

}


/*********************
* large media styles *
*********************/

@media (min-width: 768px) {
  
  /**************
  * records#new *
  **************/

  input, #placeholder-box, button, select, textarea {
    background-color: #f4f4f4;
  }

  input {
    /* fallback for browsers without calc support */
    width: 64%;
    width: calc(100% - 185px);
  }

  #datetimepicker1 {
    width: 295px;
  }

  #placeholder-box {
    width: 200px;
  }

  select#record_content_type {
    width: 120px;
  }

  span.btn.btn-small.btn-default.btn-inverse {
    margin-left: 10px;
  }

  label {
    float: left;
  }

  .long-label {
    width: 375px;
  }

  #record-description {
    /* fallback for browsers without calc support */
    width: 64%;
    max-width: 64%;

    width: calc(100% - 185px);
    max-width: calc(100% - 185px);
  }

  .terms-and-conditions {
    float: left;
    margin-left: 200px;
    margin-top: -26px;
  }

  .boolean-slider-track {
    margin-top: 2px;
  }

  #date-selector-input {
    background-color: #f4f4f4;
  }

}