/****************************
* helpers for sticky footer *
****************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/******************
* minified navbar *
******************/

/* override bootstrap collapse styles */
@media (max-width: 767px) {
  /* restore and center the voices brand and remove bootstrap brand */
  #voices-brand {
    display: none;
  }

  /* increase the size of the brand and center */
  #bootstrap-brand {
    display: block;
    position: absolute;
    font-size: 2.5em;
    width: 126px;
    left: calc((100%/2) - (126px/2));
    margin: 0;
    padding: 0;
    padding-top: 14px;
    font-family: merriweather;
  }

  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    margin: 0;
    padding: 0;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none!important;
    margin: 0;
    padding: 0;
    border-top: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
  }
  .navbar-nav>li {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a6a6a6;
    background-color: #e7e7e7 !important;
    font-weight: 700;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in { 
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}

/******************
* expanded navbar *
******************/

@media (min-width: 768px){

  /* restore the voices brand (centered in list) 
    and remove the bootstrap brand (on left from bootstrap) */
  #voices-brand {
    display: block;
    font-family: merriweather;
    font-size: 2.4em;
    font-weight: 800;
  }

  #bootstrap-brand {
    display: none;
  }

  #header a {
    padding: 25px 10px 10px 10px;
    width: 106px;
    border: none;
  }

  .navbar .nav li {
    display: inline-block;
    float: none;
    text-align: center;
  }
}

/****************
* navbar global *
****************/

/* remove rounded edges from navbar */
.navbar {
  border-radius: 0px !important;
  margin-bottom: 0px !important;

  /* center brand */
  position: relative;
}

.navbar .nav {
  float: none;
  text-align: center;
}

.navbar #voices-brand {
  width: 180px;
}

/* make the currently selected page text a different color */
#header a.active {
  color: #35A1E4;
}

.dropdown-menu {
  min-width: 0px;
  padding-bottom: 15px;
}

.dropdown-menu .glyphicon {
  display: inline-block;
  float: left;
  margin: 12px 0px 0px 14px;
}

#profile-dropdown .dropdown-menu-row-text {
  margin: 0px 0px 0px 30px;
  padding: 9px 0px 0px 0px;
}

#profile-dropdown a {
  color: #000;
  font-size: 11px;
  text-decoration: none;
  padding: 0;
  margin: 25px 10px 10px 10px;
}

/***************
* banner image *
***************/

#banner-image {
  height: 0;
  padding: 0; 
  padding-bottom: calc(20% + 100px); /* this number needs adjustment */
  background: linear-gradient( rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3) ), url(march-of-resilience.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

#text-overlay {
  position: absolute;  
  width: 100%;
  height: 100%;
  overflow: hidden;
  word-spacing: 3px;
  transform: scale(1.4);
  font-family: 'Lato', sans-serif; 
  text-transform: lowercase;
}

#text-overlay div {
  float: left;
  padding-right: 4px;
  color: #6f6f6f;
  cursor: pointer;
  font-size: 15px;
  -webkit-transition: color 2s;
          transition: color 2s;
}

#text-overlay div:hover {
  color: #fff;
}

/***************
* page content *
***************/

.center-button {
  margin-left: calc(50% - 50px);
}

.center-text {
  text-align: center;
}

.gray-background {
  background-color: #e6e6e6;
  width: 100%;
  height: 100%;
}

.preface-text {
  padding-bottom: 30px;
}

.form-container {
  margin: 40px 10% 140px 10%;
  overflow: auto;
  padding-bottom: 80px;
}

.small-banner-image-container {
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.small-banner-image-container.students-image img {
  width: 100%;
  margin-top: calc(-9% + 20px);
}

a.btn.btn-primary.center-button {
  width: 100px;
}

h3, h4 {
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-bottom: 20px;
}

/* override the bootstrap path to the glyphicons */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

/*********
* alerts *
*********/

#email-notice {
  margin-bottom: 0px;
}

#email-notice .alert button.close {
  padding-bottom: 0px;
}

.alert li {
  list-style: none;
}

/*********
* footer *
*********/

.page-content {
  margin: 40px 20% 0px 20%;
  overflow: auto;
  padding-bottom: 180px;
}

#wrap {
  min-height: 100%;
}

#footer {
  position: relative;
  margin-top: -140px;
  width: 100%;
  height: 140px;
  background-color: #666;
  color: #fff;
  font-family: 'Lato', sans-serif;
  clear: both;
}

#footer-left {
  float: left;
  padding: 40px;
}

#footer-left-top-brand,
#footer-left-top-university {
  display: inline-block;
}

#footer-left-top-brand {
  font-size: 1.5em;
  padding-right: 4px;
}

#footer-left-bottom {
  margin-left: 42px;
  font-style: italic;
}

#footer-right {
  float: right;
  padding: 40px;
}

#footer-right-top {
  position: absolute;
}

#footer-right-bottom {
  margin-top: 6px;
  margin-left: 3px;
}

/****************
* Media queries *
****************/

@media only screen and (min-width: 0px) and (max-width: 319px){
  #text-overlay {
    font-size: .5em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px){ 
  #text-overlay {
    font-size: .8em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
  #text-overlay {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
  #text-overlay {
    font-size: 1.5em;
  }
}


@media only screen and (min-width: 992px) and (max-width: 1999px){
  #text-overlay {
    font-size: 1.7em;
  }
}


/****************
* navbar colors *
****************/

/* navbar */
.navbar-default {
  background-color: #FFFFFF;
  border-color: #E7E7E7;
}

/* title */
.navbar-default .navbar-brand {
  color: #3F3F3F;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5E5E5E;
}

/* link */
.navbar-default .navbar-nav > li > a {
  color: #3F3F3F;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #5E5E5E;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #fff;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border-color: #fff;
  background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #35A1E4;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }
}
