/****************************
* helpers for sticky footer *
****************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: .95em;
  font-family: "Acumin Pro", Helvetica, Arial, sans-serif;
}

/************************************************
*                    navbar                     *
************************************************/

/******************
* minified navbar *
******************/

/* override bootstrap collapse styles */
@media (max-width: 767px) {
  /* restore and center the voices brand 
     and remove bootstrap brand */
  #voices-brand {
    display: none;
  }

  #bootstrap-brand {
    display: block;
  }

  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    margin: 0;
    padding: 0;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 0;
    padding: 0;
    border-top: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a6a6a6;
    background-color: #e7e7e7 !important;
    font-weight: 700;
  }

  .navbar-text {
    margin: 15px 0;
  }

  .dropdown.open .glyphicon {
    position: relative;
    width: 14px;
    margin-left: -50px;
    left: 50%;
  }

  #profile-dropdown {
    margin-left: 0px;
    padding-left: 0px;
  }

  #profile-dropdown a {
    margin: 9px 10px 0px -26px;
    display: inline-block;
    display: inline-block;
    text-decoration: none;
    color: black;
  }

  #profile-dropdown .dropdown-menu-row-text {
    position: relative;
    left: 50%;
  }

  .dropdown.open .dropdown-menu {
    background-color: #f5f5f5;
  }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in { 
    display: block!important;
    margin-right: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
  }

  .collapsing {
    overflow: hidden!important;
  }
}

/******************
* expanded navbar *
******************/

@media (min-width: 768px) and (max-width: 991px) {
  .navbar .nav li > a {
    width: 120px;
    padding-top: 20px;
    padding-bottom: 21px;
    border: none;
    margin-top: 0px
  }

  .dropdown-menu {
    margin-left: -12px;
  }
}

@media (min-width: 992px) {
  .navbar .nav li > a {
    width: 170px;
    padding-top: 20px;
    padding-bottom: 21px;
    border: none;
    margin-top: 0px
  }

  .dropdown-menu {
    margin-left: 3px;
  }
}

@media (min-width: 768px){

  /* restore the voices brand (centered in list) 
    and remove the bootstrap brand (on left from bootstrap) */
  #voices-brand {
    display: block;
  }

  #bootstrap-brand {
    display: none;
  }

  .navbar .nav li {
    display: inline-block;
    float: none;
    text-align: center;
  }

  a#voices-brand {
    width: 150px;
    padding-top: 20px;
    margin-right: 30px;
    margin-left: 38px;
  }

  #profile-dropdown a {
    color: #000;
    text-decoration: none;
    padding: 0;
    margin: 25px 10px 10px 10px;
  }

  /* push the line items down in navbar */
  .dropdown-toggle {
    margin-top: 5px;
  }

  #profile-dropdown .dropdown-menu-row-text {
    margin: 0px 0px 0px 21px;
    padding: 11px 0px 0px 0px;
  }
}


/****************
* navbar global *
****************/

/* remove rounded edges from navbar */
.navbar {
  border-radius: 0px !important;
  margin-bottom: 0px !important;

  /* center brand */
  position: relative;
}

.navbar .nav {
  float: none;
  text-align: center;
}

#voices-brand img {
  width: 100%;
  visibility: visible;
}

.navbar-nav > li > a {
  font-family: "acumin-pro", sans-serif;
  color: #333;
  font-weight: 700;
  letter-spacing: .05em;
}

/* remove active state from FF */
#header a:focus {
  outline: none;
}

/* make the currently selected page text a different color */
#header a.active {
  color: #35A1E4;
}

.dropdown-menu {
  min-width: 144px;
  width: 144px;
  padding: 5px 0px 14px 10px;
  border: 1px solid #cbcbcb;
}

#profile-dropdown a {
  font-family: "acumin-pro", sans-serif;
}

.dropdown-menu .glyphicon {
  display: inline-block;
  float: left;
  margin: 12px 0px 0px 7px;
  color: #515151;
}

#bootstrap-brand {
  position: relative;
  width: 80px;
  margin-left: -40px;
  left: 50%;
  padding: 0;
}

#bootstrap-brand img {
  width: 100%;
  padding-top: 12px;
}

/****************
* navbar colors *
****************/

/* navbar */
.navbar-default {
  background-color: #FFFFFF;
  border-color: #E7E7E7;
}

/* title */
.navbar-default .navbar-brand {
  color: #3F3F3F;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5E5E5E;
}

/* link */
.navbar-default .navbar-nav > li > a {
  color: #3F3F3F;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #5E5E5E;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #a6a6a6;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}

/* mobile version */
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border-color: #fff;
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #767676;
}

.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #35A1E4;
}


/*******************
*  angular helpers *
*******************/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


/************************************************
*                   home page                   *
************************************************/

/**************************
* image with text overlay *
**************************/

#banner-image {
  height: 300px;
  /* provide fallback background for devices that only support
     one background url or don't support linear-gradient */
  background: url(march-of-resilience-mobile.jpg);
  background-position: 50% 66%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

#text-overlay {
  position: absolute;  
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(1.4);
  text-transform: lowercase;
  font-family: 'YaleNew', serif;
  font-size: 1.25em;
  line-height: 1.05;
  font-weight: 300;
}

#text-overlay div {
  float: left;
  padding-right: 8px;
  color: #6f6f6f;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: color 2s, opacity 2s linear;
  -moz-transition: color 2s, opacity 2s linear;
  -o-transition: color 2s, opacity 2s linear;
          transition: color 2s, opacity 2s linear;
}

#text-overlay div:hover {
  color: #3399cc !important;
  opacity: .8 !important;
}

@media (min-width: 0px) and (max-width: 359px) {
  #banner-image {
    height: 150px;
    background-position: 50% 90%;
  }
}

@media (min-width: 360px) and (max-width: 479px) {
  #banner-image {
    height: 200px;
    background-position: 50% 90%;
  }
}

@media (min-width: 480px) and (max-width: 619px) {
  #banner-image {
    height: 250px;
    background-position: 50% 90%;
  }
}

@media (min-width: 620px) and (max-width: 767px) {
  #banner-image {
    height: 300px;
    background-position: 50% 90%;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  #banner-image {
    height: 350px;
    background-position: 50% 80%;
  }
}

@media (min-width: 900px) and (max-width: 1024px) {
  #banner-image {
    height: 400px;
  }
}

@media (min-width: 1025px) and (max-width: 1189px) {
  #banner-image {
    height: 450px;
  }
}

@media (min-width: 1190px) and (max-width: 1369px) {
  #banner-image {
    height: 500px;
  }
}

@media (min-width: 1370px) and (max-width: 1479px) {
  #banner-image {
    height: 550px;
  }
}

@media (min-width: 1480px) and (max-width: 1599px) {
  #banner-image {
    height: 550px;
    background-position: 50% 70%;
  }
}

@media (min-width: 1600px) and (max-width: 1999px) {
  #banner-image {
    height: 600px;
    background-position: 50% 70%;
  }
}

@media (min-width: 2000px) {
  #banner-image {
    height: 700px;
    background-position: 50% 70%;
  }
}

/************************************************
*                global content                 *
************************************************/

/*****************
* text and fonts *
*****************/

/* only display fonts that are done loading */

/* override the bootstrap path to the glyphicons */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), 
       url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), 
       url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), 
       url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

/* add YaleNew font */
@font-face {
  font-family: YaleNew;
  font-style: normal;
  font-weight: normal;
  src: url(asset_path('yaledesign-medium-webfont.ttf')) format('truetype')
}

.center-text {
  text-align: center;
}

/* default body text to acumin-pro */
.container {
  font-family: "acumin-pro", sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  font-family: 'YaleNew', serif;
  padding: 45px 0px 30px 0px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


/***************
* page content *
***************/

.btn {
  font-family: "acumin-pro", "helvetica", "sans-serif";
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .065em;
  padding: 8px 12px 6px 12px;
}

.blue-button {
  background-color: #3399CC;
  border-color: #4EA4D0;
}

.gray-button {
  background-color: #ccc;
  border-color: #bdbdbd;
  color: #fff;
}

.gray-button:hover, .gray-button:focus, .gray-button:active {
  background-color: #b6b6b6;
  border-color: darkgray;
  color: #fff;
}

.wide-button {
  width: 140px;
  margin-left: -70px;
  left: 50%;
  position: relative;
}

.white-background {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.gray-background {
  background-color: #eee;
  width: 100%;
  height: 100%;
}

.preface-text {
  padding-bottom: 20px;
}

.clear-floats, .field {
  clear: both;
}

.padding-sides {
  padding-left: 15%;
  padding-right: 15%;
  overflow: auto;
}

.padding-bottom {
  padding-bottom: 60px;
}

.small-banner-image-container {
  width: 100%;
  height: 170px;
  overflow: hidden;
}

.students-image {
  background: url(small-banner-images/students-mackbook-pro-dark.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 57%;
}

.yale-image {
  background: url(small-banner-images/yale-campus-macbook-pro-dark.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 65%;
}

.small-banner-text {
  position: absolute;
  font-family: 'YaleNew', serif;
  color: #fff;
  font-size: 1.7em;
  width: 100%;
  text-align: center;
  margin-top: 66px;
}

#contact_form_message {
  margin-bottom: 10px;
}

hr {
  border-top: 1px solid #B1B1B1;
  margin-bottom: 0px;
  margin-top: 0px;
}

/***************
* flash alerts *
***************/

#flash-container {
  width: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
}

.flash-message {
  display: inline;
  padding-right: 30px;
}

.alert {
  margin-top: 40px;
  display: inline-block;
}

.alert li {
  list-style: none;
}

.alert-danger {
  color: #ff3333;
  background-color: #FFF1F5;
  border-color: #FF989A;
}

.alert-info {
  color: #3399cc;
  background-color: #f0feff; 
}

button.close {
  margin-left: 15px;
}

button.close:focus {
  outline: none;
}

/*********
* footer *
*********/

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -140px;
}

.push {
  height: 140px;
}

#footer {
  width: 100%;
  height: 140px;
  background-color: #666;
  clear: both;
}

#footer-left {
  float: left;
  width: 300px;
  margin-top: 40px;
  margin-left: 50px;
}

#footer-right {
  float: right;
  width: 55px;
  margin-top: 40px;
  margin-right: 50px;
}

/*************************************
*           Mobile styles            *
**************************************/

@media (max-width: 767px) {
  
  /*************
  * containers *
  *************/

  .page-content {
    margin: 8px 10% 0px 10%;
  }

  .padding-sides {
    padding-left: 6%;
    padding-right: 6%;
  }

  /*********************
  * small banner image *
  *********************/

  .students-image {
    background: url(small-banner-images/students-mobile-dark.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 57%;
  }

  .yale-image {
    background: url(small-banner-images/yale-campus-macbook-pro-dark.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 65%;
  }

  .small-banner-text {
    position: absolute;
    font-family: 'YaleNew', serif;
    color: #fff;
    font-size: 1em;
    margin-top: 70px;
    width: 100%;
    text-align: center;
  }

  /****************
  * footer styles *
  ****************/
  
  #wrap {
    margin: 0 auto -93px;
  }

  #footer, .push {
    height: 93px;
  }

  #footer-right {
    display: none;
  }

  #footer-left {
    padding: 0px; /* remove extant padding */
    position: relative;
    margin-top: 27px;
    width: 250px;
    margin-left: -125px;
    left: 50%;
  }
}


/*************************************
*           Desktop styles           *
*************************************/

@media (min-width: 768px) {
  
  /************
  * home page *
  ************/

  #banner-image {
    height: 340px;
    background: url(march-of-resilience-dark.jpg);
    background-position: 50% 67%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }

  /* CSS transitions only for larger viewports */
  .speed-0 {
    -webkit-animation: fade-out 10s infinite;       
    -moz-animation: fade-out 10s infinite;   
    -o-animation: fade-out 10s infinite;
  }

  .speed-1 {
    -webkit-animation: fade-out 20s infinite;
    -moz-animation: fade-out 20s infinite;
    -o-animation: fade-out 20s infinite;
  }

  .speed-2 {
    -webkit-animation: fade-out 30s infinite;                
    -moz-animation: fade-out 30s infinite;
    -o-animation: fade-out 30s infinite;
  }

  .speed-3 {
    -webkit-animation: fade-out 40s infinite;           
    -moz-animation: fade-out 40s infinite;
    -o-animation: fade-out 40s infinite;
  }

  .speed-4 {
    -webkit-animation: fade-out 50s infinite;
    -moz-animation: fade-out 50s infinite;
    -o-animation: fade-out 50s infinite;
  }

  .speed-5 {
    -webkit-animation: fade-out 60s infinite;
    -moz-animation: fade-out 60s infinite;
    -o-animation: fade-out 60s infinite;
  }

  @-webkit-keyframes fade-out {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }

  @-moz-keyframes fade-out {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }

  @-o-keyframes fade-out {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }

  /********
  * flash *
  ********/

  button.close {
    margin-top: -1px;
  }
}