// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*, *:before, *:after {box-sizing:  border-box !important;}

/* overwrite wrap background color for user pages */
#wrap {
  background-color: #eee;
}

.masonry-container {
  padding-top: 30px;
  background-color: inherit;
}

.masonry {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; 
}

.masonry-item {
  display: inline-block;
  margin: 0 0 14px 0;
  width:  100%; 
  background:  #efefef;
  border-right: none !important;
  box-shadow: 1px 1px 1px 0 #7b7b7b;
}

.masonry-item img {
  width: 100%;
  height: auto;
}

.masonry-item-title {
  background-color: #fff;
  padding: 10px 14px;
  font-family: lato;
  color: #000;
}

.masonry-item a {
  border: none;
  box-shadow: none;
}

/*************
* search box *
*************/

.search-box-container {
  width: 100%;
}

/* search box */
input#search-box {
  width: 50%;
  position: relative;
  left: 50%;
  margin-left: -25%;
  border-radius: 4px;
  padding-left: 32px;
}

/* search magnifying glass */
span.glyphicon.glyphicon-search {
  left: 50%;
  margin-left: -50%;
  padding-left: 10px;
  margin-top: 15px;
  z-index: 15;
  color: #9F9F9F;
}

.input-group-btn {
  min-width: 167px;
}

input.btn.btn-primary.btn-lg {
  width: 100%;
  font-size: 16px;
}

/* set margins for search box */
.input-group.input-group-lg {
  margin: 40px 0px 10px;
}

input#keywords {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* remove text decorations from items in user show feed */
a:link{
  text-decoration: none!important;
}