<div id="footer">
  <div id="footer-left">
    <div id="footer-left-top-brand">Yale</div>
    <div id="footer-left-top-university">UNIVERSITY LIBRARY</div>
    <div id="footer-left-bottom">Digital Humanities Laboratory</div>
  </div>
  <div id="footer-right">
    <div id="footer-right-top">DH</div>
    <div id="footer-right-bottom">Lab</div>
  </div>
</div>