<!DOCTYPE html>
<html>
<head>
  <title>RailsVoices</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Quick and dirty fonts -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <!-- pagewrap for footer -->
  <div id="wrap">

    <!-- bootstrap3 navbar -->
    <div id="header">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" 
          data-toggle="collapse" 
          data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="bootstrap-brand" href="#">VOICES</a>
        </div>
        
        <!-- navbar links -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">  
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTRIBUTE</a></li>
            <li><a href="#" id="voices-brand">VOICES</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li><a href="#">LOG IN</a></li>
          </ul>
        </div>
      </div>
    </div> <!-- /#header -->

    <div class='
    <% if controller_name != "static_pages" && action_name != "home" %>container<%end%>' %>

      <!-- page content -->
      <%= yield %>

    </div>
  </div> <!-- /#wrap -->
  <div id="footer">
    <div id="footer-left">
      <div id="footer-left-top">Yale UNIVERSITY LIBRARY</div>
      <div id="footer-left-bottom">Digital Humanities Laboratory</div>
    </div>
    <div id="footer-right">
      <div id="footer-right-top">DH</div>
      <div id="footer-right-bottom">Lab</div>
    </div>
  </div>
</body>
</html>
